    body {
        background-image: url("pink-punk-rock-design.jpg");
    }
    .post {
        width: 80%;
        background-color: #f0f0f0; opacity: 0.9;
        float: left;
        padding: 1%;
        margin-bottom: 15px;
    }
    @font-face {
	  font-family: "Fertigo";
	  src: url(http://www.taptaptap.com/Fertigo.otf) format("opentype");
    }
    h1 { 
        font-family: "Fertigo", sans-serif; 
    }
	div[role=main]  {
		width: 100%;
		border: 1px dashed cyan;
		float: left;
	}
	.quote {
	    font-style: italic;
	}
	ul.comments {
	    list-style-type: none;
	}
	.comment {
	    padding-left: 3%;
	    padding-bottom: 4px;
	    width: 97%;
	    border: 1px solid gray;
	    border-bottom-left-radius: 40px;
	    border-bottom-right-radius: 40px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    background-color: cyan;
	    margin-bottom: 12px;
	}
	article {
		width: 100%;
		float: left;
	}
	header h1 {
		font-size: 18px;
	}
	nav {
		float: left;
		width: 100%;
		border: 1px solid maroon;
		background-color: white;
	}
	footer {
		float: left;
	}
	.hide {display: none;}
	.show {display: block;}
	.addCommentText {
		width: 100%;
	}
	label { 
	    font-weight: bold;
	    clear: both;
	    display:block;
	}
	input[type=text], textarea {
	    background-color: white;
	    padding: 5px;
	    font-size: 15px;
	    text-shadow: 0px 1px 0px #fff;
	    outline: none;
	    background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbe), to(#ffffff));
	    background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    border: 1px solid #717171;
	    -webkit-box-shadow: 1px 1px 0px #000000;
	    -moz-box-shadow: 1px 1px 0px #000000;
	    box-shadow:  1px 1px 0px #000000;

	}
	input[type=range]:before { content: attr(min); padding-right: 5px; }  
	input[type=range]:after { content: attr(max); padding-left: 5px;}  

    #myLogoCanvas { float: left; top: 0px; margin: 0px 5px 00px 0px;}
    header[role=banner] { height: 160px;}

	#drop1
        {
            width:100px;
            height:100px;
            background-color:#cccccc;
        }  
    #loginForm, #logoutForm { float: right; right: 5px; margin-top: 10px;}
    #nameLabel, #loggedInLabel { color: white; }
	header[role=banner] {color:white; }
    .notice { color: red; }
    .username {
        color: black;
        font-size: 15px;
    }
    input[type=button], input[type=submit] {
        background-color: pink;
        color: black;
        font-size: 15px;
    }
